@charset 'UTF-8';

/* --------------------------------------------
1、字体大小
---------------------------------------------*/
$font-size-g                    : 0.12rem;
/* --------------------------------------------
2、基本颜色
---------------------------------------------*/
$color-white-g                  : #fff;
$color-blue-g                   : #4682B4;
$color-red-g                    : #B22222;
$color-orange-g                 : #FF8C00;
$color-green-g                  : #3CB371;
$color-gray-g                   : #808080;
/* --------------------------------------------
3、字体颜色
---------------------------------------------*/
$font-color-g                   : darken($color-white-g, 5%);
$font-color-white-g             : $color-white-g;
$font-color-gray-g              : darken($color-gray-g, 10%);
$font-color-blue-g              : #4ABDF4;
/* --------------------------------------------
4、背景颜色
---------------------------------------------*/
